{% verbatim %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet" ng-controller="ask">
  <div class="mdl-card mdl-shadow--4dp card-todo bg-color-x2">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Ask a Question</h2>
      <span class="add-ico">
      <!--
        <i class="material-icons ico-anim-{{newDataAvailable}}" >autorenew</i>
      -->                    
      </span>
    </div>

    <div class="mdl-card__media">
      <div class="line-breaker"></div>

      <form action="#" class="ask-form" >

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="summary" ng-model="q.summary" id="summary" data-required>
          <label class="mdl-textfield__label" for="summary">Summary...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <tags-input ng-model="q.tags" add-on-paste="true" display-property="name" placeholder="Tags">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
        </div>  

        <br/>

        <div class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" rows= "3" id="description" name="description" ng-model="q.description" data-required></textarea>
          <label class="mdl-textfield__label" for="description">Description...</label>
        </div>

        <br/>

        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Preview
        </button>

        <button type="button" ng-click="saveQuestion()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
        Save
        </button>

      </form>


    </div>

    <div class="mdl-card__supporting-text">
    </div>

    <div class="mdl-card__actions">
    </div>

  </div>
</div>   
{% endverbatim %}