{% verbatim %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
  <div class="mdl-card mdl-shadow--4dp card-todo bg-color-x1 pre-this" ng-controller="Questions">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text off-blk1">{{ q.summary }}</h2>
      <span class="add-ico">
      <!--     <i class="material-icons" ng-class="" ng-click="reloadThis()">
      autorenew</i>       
      -->
      </span>
    </div>

    <div class="mdl-card__media">      
      <div class="line-breaker"></div>
      <div class="pre-content"> 
        {{ q.description }}       
      </div>
    </div>

    <div class="mdl-card__supporting-text">
      <span class="post-sig">
        <span class="add-ico">
          <i class="material-icons profile">account_box</i>
        </span>  

        <span class="down">      
          <span class="" ng-if="q.myQ">
            <a href="#">Edit</a>            
          </span> 
          <span ng-if="q.myQ && q.tags.length > 0" > | </span>
          <span class="" ng-if="q.tags.length > 0">
              Tags: 
              <span ng-repeat="tag in q.tags">
                <i class="chip">{{ tag.name }} </i>
                <i ng-hide="$last">,</i>
              </span>
          </span> 
        </span>  

        <span class="up">
          {{ q.user }}
        </span>
        <span class="up">
          | Posted on: {{ q.created_date }}
        </span>
        <span class="up">
          | Updated on: {{ q.updated_date }}
        </span>
      </span>  

    <span class="like-co">
        <span class="mdl-chip mdl-chip--contact">
          <span class="mdl-chip__contact mdl-color--primary mdl-color-text--black">{{ q.likes }}</span>
          <span class="mdl-chip__text">
            <span class="like up" ng-class="{liked: q.mylike == true }">
              <i class="material-icons" ng-click="like(q.qid)">play_arrow</i>
            </span>
            <span class="like down" ng-class="{liked: q.mylike == false }">
              <i class="material-icons" ng-click="dislike(q.qid)">play_arrow</i>
            </span>  
          </span>
        </span>
    </span>    

    </div>

</div>
</div>
{% endverbatim %}   