
<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
  <div class="mdl-card mdl-shadow--4dp card-st1 bg-color-x1">

    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Support</h2>
    </div>

    <div class="mdl-card__media" id="list-view">
      <div class="line-breaker"></div>

      <ul class="demo-list-icon mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">person</i>
            John Doe - 88448843433
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">person</i>
            Jane Doe - 72448843431
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">&#xE8A8;</i>
            Helpline - 1800 01 02 03
          </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">&#xE158;</i>
            support@feedback_xyz.com
          </span>
        </li>
      </ul>

      <div class="line-breaker"></div>
    </div>

  </div>
</div>
