
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
    <div class="mdl-card mdl-shadow--4dp card-todo bg-color-x2" ng-controller="mainFeed">

      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"> {{ cat.name  }} </h2>
        <span class="add-ico">
        </span>
      </div>

      <div class="mdl-card__media" id="list-view">
        <div class="line-breaker"></div>
        Please fill in your trip details.
      </div>

      <div class="mdl-card__media" id="list-view">

        <div class="line-breaker"></div>

        <form action="#" class="ask-form" >

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="options" ng-model="trip_type" value="1" checked>
              <span class="mdl-radio__label">Pickup</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="options" ng-model="trip_type" value="2">
              <span class="mdl-radio__label">Drop</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
              <input type="radio" id="option-3" class="mdl-radio__button" name="options" ng-model="trip_type" value="3">
              <span class="mdl-radio__label">Pickup & Drop</span>
            </label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="trip_date">Date of Journey:...</label>
            <input class="mdl-textfield__input" type="text" name="trip_date" ng-model="trip_date" id="trip_date" data-required>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
             <label>Rate your experience with us:</label>
             <ul>
               <li class="td-li">

                 {% for rating in ratings %}
                 <span class="clickable smiley" ng-click="choose_smiley({{ rating.value }})" ng-class="{'selected': rated == {{ rating.value }} }">
                     <i class="material-icons">{{ rating.ico_name }}</i>
                 </span>
                 {% endfor %}
               </li>
               <ul>
           </div>

          <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="description" name="description" ng-model="description" data-required></textarea>
            <label class="mdl-textfield__label" for="description">Route Info...</label>
          </div>

          <br/>

          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Preview
          </button>

          <button type="button" ng-click="saveForm()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
          Save
          </button>

        </form>



          <div class="line-breaker tdl"></div>
      </div>

      <div class="mdl-card__supporting-text" ng-if="trendingItems.length == 0">
        There are no items to show :(
      </div>

      <div class="mdl-card__actions">
      </div>

    </div>
  </div>
