/* home page frame */
.home-content {
		width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.demo-content {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.quote-sign {
	font-size: 24px;
	font-style: italic;
	display: inline-block;
	float: right;
	position: relative;
}

.app-name-co {
	min-height: 50px;
	border-radius: 20px;
	width: 500px;
	margin: auto;
	background-color: beige;
}

.app-name {
	text-align: center;
	font-size:45px;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	min-width:50px;
	font-weight: 600;
}

.gardient-bg {
	background: #00C9FF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* ----- overrides ----- */

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button,
.mdl-navigation .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.goc-home-text-container {
	display:none;
	position:absolute;
	width:800px;
	background-color:rgba(0,0,0,.8);
	background-color: rgba(0, 23, 26, 0.5);
	font-size:24px;
	color:#fff;
	line-height: 1.2;
	z-index:999;
	text-align: center;
}

.goc-home-text-container  .mdl-textfield__label {
	color:#fff;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.goc-home-text-container .mdl-textfield__input {
    border-bottom: 1px solid #fff;
}

.goc-home-text-container .mdl-cell {
	margin-left: auto;
	margin-right: auto;
}

#slide-login {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#slide-login  button{
	color: #fff;
}

.forgot-pwd-link {
	color: #FFA500;
	font-size: 16px;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: underline;
}
