.goc-home-text-container {
	display:none;
	height:400px;
	font-size:24px;
	padding-top:50px;
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:50px;
	/* margin-top:50px; */
	top:50%;
	transform: translateY(-50%);
	position:absolute;
	background-color:#000;
	color:#fff;
	opacity:0.8;
	font-family: 'Courgette', cursive;
	line-height: 1.2;

}

.goc-home-text-container  .mdl-textfield__label {
	color:#fff;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.goc-home-text-container .mdl-textfield__input {
    border-bottom: 1px solid #fff;
}

#slide-login {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#slide-login  button{
	color: #fff;
}

.forgot-pwd-link {
	color: #fff;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}
