 <div id="send_acc_mail" style="display:none;">
		<h4 class="fancy-popup-header">Atlassian Account</h4>
		<div class="fancy-popup-content">
			<form action="#" class="form-lable--black">
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="sample1" value="alpha@liaison-intl.com" />
				<label class="mdl-textfield__label" for="sample1">To...</label>
			  </div>
				<div class="x-spacer--20"></div>
			   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="sample1" value="manager@harman.com"/>
				<label class="mdl-textfield__label" for="sample1">Cc...</label>
			  </div>
			  <br/>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="sample2" value="Request for Atlassian account" />
				<label class="mdl-textfield__label" for="sample2">Subject...</label>
			  </div>
			  <br/>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
				<textarea class="mdl-textfield__input" type="text" rows= "9" id="sample5">Hello [first name],
				
The plum pudding model is an obsolete scientific model of the atom proposed by J. J. Thomson in 1904. It was devised shortly after the discovery of the electron but before the discovery of the atomic nucleus.
				
Thanks,
[user]
				</textarea>
				<label class="mdl-textfield__label" for="sample5">Body...</label>
			  </div>
			  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				Send
			  </button>
			   <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button-cu--red">
				Cancel
			  </button>
			</form>
		</div>
	  </div>