{% extends 'base/wrapper.html' %}

{% block pagetitle %} {{ cat.name }} Feedback {% endblock %}

{% block ngapp %} ng-app="dashboard" {% endblock %}

{% load staticfiles %}

{% block pagehead %}
	<link rel="stylesheet" href="{% static 'mdl/material-dp.css' %}">
	<script src="{% static 'js/moment.js' %}"></script>
	<script src="{% static 'mdl/material-dp.js' %}"></script>
{% endblock %}

{% block content %}
<input type="hidden" value="{{ cat.id }}" name='cid'>
	{% if cat.id == 1 %}
		{% include 'base/cards/transport.html' %}
	{% elif cat.id == 2 %}
		{% include 'base/cards/cafeteria.html' %}
	{% else %}
		Please select a valid category
	{% endif %}

	{% include 'base/cards/questions.html' %}

{% endblock %}

{% block tail_scripts %}
	<script src="{% static 'js/cat.js' %}"></script>
{% endblock %}
