{% load staticfiles %}
<html>
<title>Feedback App</title>
<script src="{% static 'mdl/material.min.js' %}"></script>
<script src="{% static 'mdl/jquery-2.1.4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'mdl/material.min.css' %}">
<link rel="stylesheet" href="{% static 'mdl/mdl.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
</html>
<body>

  <div class="layout-transparent mdl-layout mdl-js-layout gardient-bg">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Feedback App</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#"
          onclick="handle_hash_change('#slide-support');">Help</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Feedback App</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#"
        onclick="handle_hash_change('#slide-support');">Help</a>
      </nav>
    </div>
  </div>

  <main class="mdl-layout__container">
    <div class="mdl-grid mld-layout__content demo-content">

      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <div class="mdl-card mdl-shadow--4dp bg-color-x5 app-name-co">
          <div class="mdl-card__media">
            <div class="app-name"> Feedback App </div>
        </div>
      </div>
    </div>

    {% include 'base/cards/login.html' %}

    <div id="slide-support" class="goc-home-text-container demo-content">
      {% include 'base/cards/support.html' %}

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      onclick="handle_hash_change('#slide-home');">
        Close
      </button>

    </div>
  </main>

</body>
<script src="{% static 'js/home.js' %}"></script>
</html>
