<header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600"> 

   <div class="mdl-layout__header-row">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" />
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
      </div>
		  
      <span class="mdl-layout-title goc-layout-title">QWeb</span>
		  
    <div class="mdl-layout-spacer"></div>
			
        <!--
		    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons">add_circle</i>
        </button>
        -->

				<button id="notibtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				  <i class="material-icons mdl-badge" role="presentation" data-badge="1">add_alert</i>
				 <span class="visuallyhidden">Notifications</span>
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="notibtn">
				  <li class="mdl-menu__item">Placeholder for Notifications</li>
				</ul> 
    </div>
</header>